<div class="container">
  <p-card header="Lista de Movimentacoes">

    <div class="card">

      <form autocomplete="off" (ngSubmit)="buscar()">
      <div class=" grid">

        <div class="col-12 md:col-6 lg:col-3 p-fluid">

            <span class="p-float-label">
              <span class="p-float-label p-input-icon-right">
                <i class="pi pi-search"></i>
                <input type="text" id="inputgroup" name="paramentro" pInputText [(ngModel)]="filtro.parametro"
                  class="p-inputtext" placeholder="id, nome do produto, código ean 13" />
                <label for="inputgroup">Pesquisar</label>
              </span>
            </span>


        </div>
        <div class="col-12 md:col-6 lg:col-2 p-fluid">
          <span class="p-float-label">
            <p-calendar inputId="calendar" [(ngModel)]="filtro.datanicio "  dateFormat="dd/mm/yy"   appendTo="body" name="datanicio" ></p-calendar>
            <label for="calendar">Data da Início</label>
        </span>
        </div>
        <div class="col-12 md:col-6 lg:col-2 p-fluid">
          <span class="p-float-label">
            <p-calendar inputId="calendar" [(ngModel)]="filtro.datafim"  dateFormat="dd/mm/yy" appendTo="body" name="datafim" ></p-calendar>
            <label for="calendar">Data da Fim</label>
        </span>
      </div>

      <div class="col-12 md:col-6 lg:col-2 p-fluid">
        <span class="p-float-label">
          <p-dropdown [options]="opercoes" id="op" [autoDisplayFirst]="false" name="operacao" [filter]="true"
            appendTo="body" [(ngModel)]="filtro.operacao"></p-dropdown>
          <label for="op">Operações</label>
        </span>

      </div>
         <div class="col-6 md:col-6 lg:col-1 p-fluid">
            <button pButton pRipple  class="p-button-lg p-button-success" label="buscar"  (click)="buscar()"
            iconPos="right" icon="fa-solid fa-search">
              </button>
          </div>
          <div class="col-6 md:col-6 lg:col-2 p-fluid">
            <button pButton pRipple  class="p-button-lg p-button-primary" label="adicionar" (click)="adionarMOvimentacao()"
            iconPos="right" icon="fa-solid fa-plus">
              </button>
          </div>
      </div>
    </form>
      <div class="grid">
        <div class="col-12 ">

          <p-table [value]="movimentacaoes" [paginator]="true" dataKey="id" responsiveLayout="stack" [rowHover]="true"
          [rows]="filtro.itensPorPagina" responsiveLayout="stack"
          styleClass="p-datatable-gridlines p-datatable-sm p-datatable-customer" dataKey="id" [lazy]="true"
          (onLazyLoad)="aoMudarPagina($event)"  [totalRecords]="totalRegistros"
          >

          <ng-template pTemplate="header">
            <tr>
              <th style="text-align: center;"> Expandir</th>
              <th>Id </th>
              <th>Data da movimentacao </th>

              <th style="text-align: center;">Opercão </th>
              <th>Tipo de Movimentção</th>


              <th style="text-align: center;">Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-movimentacao let-expanded="expanded">
            <tr [pSelectableRow]="movimentacao">
              <td>
                <button type="button" pButton pRipple [pRowToggler]="movimentacao"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
              </td>

              <td>{{ movimentacao.id }}</td>
              <td>{{ movimentacao.datamovimento }}</td>

              <td style="text-align: center;">

                {{ movimentacao.tipoMovimentacaoEstoque.operacao}}



              </td>
              <td>{{ movimentacao.tipoMovimentacaoEstoque.descricao }}</td>

              <td>

                <div class=" flex align-items-center justify-content-center ">
                  <a>

                    <button pButton pRipple icon="fa-solid fa-pen" pTooltip="Editar" tooltipPosition="top"
                       class="p-button-primary mr-2 p-button-text"
                      type="button"></button>
                  </a>
                  <button pButton pRipple icon="fa-solid fa-trash " type="button" pTooltip="Excluir"
                    tooltipPosition="top" class=" p-button-danger mr2 p-button-text "></button>
                </div>

              </td>


            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-movimento>
            <tr>
              <td colspan="7">
                <div class="p-3">
                  <p-table [value]="movimento.items" dataKey="id" selectionMode="single" responsiveLayout="stack"
                    dataKey="id" responsiveLayout="stack"  >
                    <ng-template pTemplate="header">
            <tr pSelectableRow="movimento">

              <th>Id </th>

              <th>Produto</th>
              <th style="text-align: center;">Qtde Movimentada</th>
              <th style="text-align: center;">Saldo Anterior</th>
              <th style="text-align: center;">Total estoque </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr [pSelectableRow]="item">

              <td>{{ item.produto.id }}</td>


              <td>{{ item.produto.nome }}</td>
              <td style="text-align: center;">{{ item.qtde }}</td>
              <td style="text-align: center;">{{ item.saldoanterior }}</td>
              <td style="text-align: center;">{{ item.produto.estoque.quantidade }}</td>
            </tr>
          </ng-template>


          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">Produto sem varição</td>
            </tr>
          </ng-template>



        </p-table>
      </div>
      </td>
      </tr>
      </ng-template>
      </p-table>

      </div>

    </div>

</div>
</p-card>
</div>
