
<div class="container">
  <p-card header="Lista de Produtos">


    <div class="grid">

      <div class="col-12 md:col-6 lg:col-5 p-fluid">
        <form autocomplete="off" (ngSubmit)="buscar()">



          <div class="p-inputgroup">
            <span class="p-float-label">
            <input type="text" id="inputgroup" name="paramentro" pInputText [(ngModel)]="produtofiltro.parametro"
              class="p-inputtext" placeholder="pesquisar por id, nome do produto, código ean 13" />
              <label for="marca">Pesquisar</label>
            </span>
            <button type="button" (click)="buscar()" pButton icon="fa-solid fa-search" class=" p-button-lg"
              styleClass="p-button-warn"></button>
          </div>


        </form>
      </div>
      <div class="col-12 md:col-6 lg:col-2 p-fluid">
        <button pButton icon="fa-solid fa-circle-plus " type="button" pTooltip="Adicionar Produto" label="novo"
          routerLink="/produtos/novo" routerLinkActive="active-link" class="p-button-success p-button-lg"></button>
      </div>

    </div>

    <div class="grid">
      <div class="col-12">
        <p-table [value]="produtos" [paginator]="true" selectionMode="single" [rowHover]="true"
          [rows]="produtofiltro.itensPorPagina" responsiveLayout="stack"  #tabela
          styleClass="p-datatable-gridlines p-datatable-sm p-datatable-customer" dataKey="id" [lazy]="true"
          (onLazyLoad)="aoMudarPagina($event)"  [totalRecords]="totalRegistros"
          >
          <ng-template pTemplate="caption">

          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Código</th>
              <th>Produto
              </th>
              <th>Marca</th>
              <th style="text-align: center;"> Subgrupo</th>
              <th style="text-align: right;"> Preço</th>

              <th style="text-align: center;">Estoque </th>
              <th style="text-align: center;">Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-produto>
            <tr [pSelectableRow]="produto">
              <td>{{produto.id}}</td>
              <td>{{produto.nome}}</td>
              <td> {{produto.marca}}</td>
              <td style="text-align: center;">{{produto.subgrupo }}</td>
              <td style="text-align: right;">{{produto.preco.precovenda| currency: 'BRL' }}</td>
              <td style="text-align: center;">

                <span [style.color]="produto.situacao === 'Disponvel' ? 'blue' : 'red'">{{ produto.situacao
                  }}</span>


              </td>

              <td>

                <div class=" flex align-items-center justify-content-center ">
                  <a>

                    <button pButton pRipple icon="fa-solid fa-pen" pTooltip="Editar" tooltipPosition="top"
                    [routerLink]="['/produtos', produto.id]" class="p-button-primary mr-2 p-button-text"
                      type="button"></button>
                  </a>
                  <button pButton pRipple icon="fa-solid fa-trash" type="button" pTooltip="Excluir"  (click)="confirmarExclusao(produto)"
                    tooltipPosition="top" class=" p-button-danger mr2 p-button-text "></button>
                </div>

              </td>
            </tr>
          </ng-template>

        </p-table>


      </div>
    </div>




  </p-card>
</div>
