<div class="container">
  <p-card header="Lista de Produtos">

    <div class="grid">

      <div class="col-12 md:col-6 lg:col-5 p-fluid">
        <div class="p-inputgroup p-fluid">
        <span class="p-float-label">
          <span class="p-float-label p-input-icon-right">

            <input type="text" id="inputgroup" name="paramentro" pInputText
              class="p-inputtext" placeholder="id, nome do produto, código ean 13" />
            <label for="inputgroup">Pesquisar</label>
          </span>
        </span>
        <button type="button" pButton icon="pi pi-search" styleClass="p-button-warn"></button>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
          <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
          <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div>
      </div>
  </div>
  </p-card>
</div>
