<div class="container">



  <p-card header="Cadastro de Produtos" >
    <div class="card">
      <p-tabView>
        <p-tabPanel header="Produto">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="grid nested-grid">

          <div class="col-8 md:col-6 lg:col-8 p-fluid">
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-7 p-fluid">
                <span class="p-float-label">
                  <input type="text" id="produtonome" name="nome" required="true" pInputText [(ngModel)]="produto.nome"
                    placeholder="nome produto" #nomeProduto="ngModel" />

                  <label for="produtonome">Nome Produto</label>
                </span>

              </div>
              <div class="col-12 md:col-6 lg:col-5 p-fluid ">
                <div class="p-inputgroup">
                  <span class="p-float-label">
                    <input type="text" id="nomeMarca" readonly="true" name="nomeMarca" pInputText
                      [(ngModel)]="marca.nomeMarca" placeholder="Marca" />


                    <label for="marca">Marca</label>
                  </span>
                  <button pButton pRipple type="button" (click)="showMarca()" icon="fa-solid fa-plus"
                    pTooltip="Adicionar Marca" class="p-button-lg p-button-success "></button>
                </div>
              </div>

              <div class="col-12 md:col-6 lg:col-6 p-fluid">
                <div class="p-inputgroup">
                  <span class="p-float-label">
                    <input type="text" id="nomeSubgrupo" readonly="true" name="nomeSubgrupo" pInputText
                      [(ngModel)]="subgrupo.nomeSubgrupo" placeholder="subgrupo" />


                    <label for="nomeSubgrupo">Subgrupo</label>
                  </span>
                  <button pButton pRipple type="button" icon="pi pi-plus" tooltipPosition="top" (click)="showSubgrupo()"
                    pTooltip="Adicionar Subgrupo" class="p-button-lg p-button-info"></button>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-3 p-fluid">
                <span class="p-float-label">
                  <p-inputNumber inputId="custo" currency="BRL" mode="currency" name="precocusto" locale="pt-Br"
                    [(ngModel)]="produto.preco.precocusto" [minFractionDigits]="2"></p-inputNumber>
                  <label for="custo"> Preço Custo</label>
                </span>
              </div>
              <div class="col-12 md:col-6 lg:col-3 p-fluid">
                <span class="p-float-label">
                  <p-inputNumber inputId="custom" currency="BRL" [required]="true" name="customedio" mode="currency"
                    locale="pt-Br" [(ngModel)]="produto.preco.customedio" [minFractionDigits]="2"></p-inputNumber>
                  <label for="custom"> Custo Médio</label>

                </span>
              </div>
              <div class="col-12 md:col-6 lg:col-3 p-fluid ">
                <span class="p-float-label">
                  <p-inputNumber inputId="preco_venda" currency="BRL" mode="currency" name="precovenda" locale="pt-Br"
                    [(ngModel)]="produto.preco.precovenda" [minFractionDigits]="2"></p-inputNumber>
                  <label for="preco_venda"> Preço de Venda</label>
                </span>
              </div>
              <div class="col-12 md:col-6 lg:col-4 p-fluid ">
                <span class="p-float-label">
                  <p-dropdown [options]="tipoproduto" [autoDisplayFirst]="false" name="tipoProduto" [filter]="true"
                    appendTo="body" [(ngModel)]="produto.tipoProduto"></p-dropdown>
                  <label for="dropdown">Tipo Produto</label>
                </span>
              </div>
              <div class="col-12 md:col-6 lg:col-3 p-fluid">
                <span class="p-float-label">
                  <input type="text" id="codigofabricante" name="codigoFabricante" pInputText
                    [(ngModel)]="produto.codigoFabricante" placeholder="Codigo do Fabricante"
                    #codigoFabricante="ngModel" />

                  <label for="codigofabricante">Codigo Fabricante</label>
                </span>

              </div>

              <div class="col-12 md:col-6 lg:col-2 p-fluid">
                <button pButton pRipple type="button" (click)="upLoad()" label="upLoad"
                  icon="fa-solid fa-cloud-arrow-up" pTooltip="Adicionar Imagem"
                  class="p-button-lg p-button-outlined   p-button-primary "></button>
              </div>
              <div class="col-12 md:col-6 lg:col-3 p-fluid">
                <div class="p-inputgroup">
                  <span class="p-float-label">
                    <input type="text" id="codigofabricante" name="codigobarras" pInputText
                      [(ngModel)]="produtoDetalhe.codigobarras" placeholder="Codigo do barras"
                      #codigobarras="ngModel" />

                    <label for="codigofabricante">Codigo Barras</label>
                  </span>
                  <button pButton class="p-button-lg p-button-help p-button-outlined" type="button"
                    icon="fa-solid fa-barcode fa-lg" pTooltip="Gerar Ena13" (click)="gerarEan13()"></button>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-3 p-fluid">
                <span class="p-float-label">
                  <p-dropdown [options]="unidadmedidas" [autoDisplayFirst]="false" name="unidadeMedida" [filter]="true"
                    appendTo="body" [(ngModel)]="produtoDetalhe.unidadeMedida"></p-dropdown>
                  <label for="dropdown">Unidade de Medida</label>
                </span>

              </div>

              <div class="col-12 md:col-6 lg:col-2 p-fluid">
                <span class="p-float-label">
                  <p-inputNumber [(ngModel)]="produtoDetalhe.mutiplicador" name="mutiplicador" mode="decimal" dec
                    [showButtons]="true" precision="0" inputId="minmax-buttons" [min]="1" [max]="100">
                  </p-inputNumber>
                  <label for="estoqueminimo">Multiplicador</label>
                </span>
              </div>
              <div class="col-12 md:col-6 lg:col-2 p-fluid">
                <span class="p-float-label">
                  <p-inputNumber inputId="custo" prefix="%" name="desconto" locale="pt-Br"
                    [(ngModel)]="produtoDetalhe.desconto" [minFractionDigits]="2"></p-inputNumber>
                  <label for="custo"> Desconto</label>
                </span>
              </div>
              <div class="col-12 md:col-6 lg:col-2 p-fluid">
                <button pButton pRipple type="button" (click)="addProdutoDetalhe()" label="Adicionar" icon="fa-solid fa-plus"
                  pTooltip="add produto Detalhe" class="p-button-lg p-button-success "></button>
              </div>
            </div>

          </div>

          <div class="col-4 md:col-6 lg:col-4 p-fluid">
            <div class="h-full picture">

              <span class="picture__image">
                <img [src]="url" class="picture__img" *ngIf="url" />
                <span *ngIf="!url" class="centered-text">{{ pictureImageTxt }}</span>
              </span>

            </div>
          </div>

            <div class="col-12">
              <p-table [value]="produto.produtoDetalhe" selectionMode="single" [rowHover]="true"
                responsiveLayout="stack" styleClass="p-datatable-gridlines p-datatable-sm p-datatable-customer"
                dataKey="id">
                <ng-template pTemplate="caption">

                </ng-template>
                <ng-template pTemplate="header">
                  <tr>

                    <th>Codigo de Barras
                    </th>
                    <th>Unidade</th>
                    <th style="text-align: center;"> Multiplicador</th>
                    <th style="text-align: right;"> Desconto</th>


                    <th style="text-align: center;">Ações</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-produtodetalhado let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="produtodetalhado">

                    <td>{{produtodetalhado.codigobarras}}</td>
                    <td> {{produtodetalhado.unidadeMedida}}</td>
                    <td style="text-align: center;">{{produtodetalhado.mutiplicador }}</td>
                    <td style="text-align: right;">{{produtodetalhado.desconto| currency: 'BRL' }}</td>


                    <td>

                      <div class=" flex align-items-center justify-content-center ">
                        <a>

                          <button pButton pRipple icon="fa-solid fa-pen" pTooltip="Editar" tooltipPosition="top"
                            [routerLink]="['/produtos', produto.id]" class="p-button-primary mr-2 p-button-text"
                            type="button"></button>
                        </a>
                        <button pButton pRipple icon="fa-solid fa-circle-minus" type="button" pTooltip="remover " (click)="removerLinha(rowIndex)"
                          tooltipPosition="top" class=" p-button-danger mr2 p-button-text "></button>
                      </div>

                    </td>
                  </tr>
                </ng-template>

              </p-table>

            </div>

          <div class="col-6 md:col-6 lg:col-2 p-fluid">
            <button pButton pRipple type="button" icon="pi pi-sign-in" label="Voltar" routerLink="/produtos"
              class="p-button-outlined p-button-lg p-button-danger"></button>
          </div>
          <div class="col-6 md:col-6 lg:col-2 p-fluid">
            <button pButton pRipple type="submit" class="p-button-lg p-button-success" iconPos="left" icon="pi pi-save"
              label="Salvar"></button>
          </div>
        </div>
      </form>
        </p-tabPanel>
        <p-tabPanel header="Kit/Combo">
          <div class="p-fluid grid">
          <div class="col-12 md:col-6 lg:col-5 p-fluid">
            <span class="p-float-label">
              <input type="text" id="produtonome" required="true" name="nome" pInputText
                [(ngModel)]="componente.produto.nome" [readOnly]="true" ngModel #nome="ngModel" />

              <label for="produtonome">Nome Componente</label>
            </span>
          </div>
          <div class="col-5 md:col-6 lg:col-2 p-fluid">
            <button pButton icon="pi pi-plus" pTooltip="Adicoinar Componete" label="Produtos"
              (click)="showLIstaProduto()" class="p-button-info p-button-lg"></button>
          </div>
          <div class="col-12 md:col-6 lg:col-2 p-fluid">
            <span class="p-float-label">
              <p-inputNumber inputId="preco_venda" currency="BRL" mode="currency" name="precovenda" locale="pt-Br"
                [(ngModel)]="componente.produto.preco.precovenda" [readonly]="true" [minFractionDigits]="2"></p-inputNumber>
              <label for="preco_venda"> Preço Venda</label>
            </span>
          </div>
          <div class="col-12 md:col-6 lg:col-2 p-fluid">
            <span class="p-float-label">
              <p-inputNumber inputId="qtde" mode="decimal" name="qtde" locale="pt-Br" [(ngModel)]="componente.qtde"
                [minFractionDigits]="3"></p-inputNumber>
              <label for="qtde"> Quantidade</label>
            </span>
          </div>

          <div class="col-5 md:col-6 lg:col-1 p-fluid">
            <button pButton icon="pi pi-plus" pTooltip="Adicoinar Componente" [disabled]="!bloqueiaboatao"
              (click)="addComponete()" class="p.p-button-success p-button-lg"></button>
          </div>

        </div>
        <div class="grid">
          <div class="col-12 tabela">
            <p-table [value]="produto.componentes" responsiveLayout="stack" selectionMode="single" [rowHover]="true"
              #tabela dataKey="produto.componentes.produto.id"
              styleClass="p-datatable-gridlines p-datatable-sm p-datatable-customer" [lazy]="true">
              <ng-template pTemplate="caption"> </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Código</th>
                  <th>Nome Produto</th>
                  <th style="text-align: center">Quantidade</th>
                  <th style="text-align: right">Preço Venda</th>
                  <th style="text-align: right">Subtotal</th>


                  <th style="text-align: center">Opções</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-componente key let-rowIndex="rowIndex">
                <tr [pSelectableRow]="componente">
                  <td>{{ componente.produto.id }}</td>
                  <td>{{ componente.produto.nome }}</td>
                  <td style="text-align: center">{{ componente.qtde }}</td>
                  <td style="text-align: right">
                    {{ componente.produto.preco.precovenda | currency:'BRL' }}
                  </td>
                  <td style="text-align: right">
                    {{ componente.subtotal | currency :'BRL'}}
                  </td>


                  <td>
                    <div class="flex align-items-center justify-content-center">
                      <a>
                        <button pButton pRipple icon="pi pi-minus" pTooltip="Editar" tooltipPosition="top"
                          class="p-button-danger -button-s mr-2" (click)="removerCompnente(rowIndex)"
                          type="button"></button>
                      </a>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        </p-tabPanel>
      </p-tabView>
    </div>
  </p-card>
</div>
